
<head>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
      <ul>
<h5><small>Global warming is affecting weather, and weather is affecting us. This is the idea that
   first intrigued our mini project. The aim of this project is to study the correlation between weather changes 
   and violence indices such as homicide, burglary, larceny, theft, ...
   We are choosing the US as our data subject and studying the correlation between our two variables across
   all its states.
  We hope that our project can help raise awareness on global warming and the fact that it does not 
  only affect nature in a negative way, but also us.
  </small> </h5>
<footer class="blockquote-footer">Miguel, Hiba and Volodymyr</footer>
</ul>
</div>
</body>
