.title {
	color:#9F2B00;
	font-family: 'Raleway','Lato','Helvetica Neue', Arial, sans-serif;
	font-size: 4vw;
	font-weight: 800;
	text-align: center;
	margin: auto;
	margin-top: 0;
	padding-top: 7vh;
}

